<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="C37FNBwfuj" />
    <meta name="360-site-verification" content="54b52da3fcc2cda4762b6606523eea75" />
    <meta name="sogou_site_verification" content="8KKSB2kuMk"/>
    <link rel="icon" href="/styles/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/styles/images/favicon.ico" type="image/x-icon"/>
    
    <title>3·15专题之危机四伏的线下理财_互联网金融行业专题_网贷天眼</title>
    <meta name="keywords" content="3·15专题之危机四伏的线下理财,互联网金融,P2P专题,网贷天眼。" />
    <meta name="description" content="伴随着普惠金融理财的普及，P2P网贷已经成为整个互联网金融行业的热点，日渐成熟的体系，快速扩张的规模让所有人为之震惊；与此同时脱胎于民间借贷行业的线下理财也在澎湃发展，它们或主动介入线上P2P，..." />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/scripts/plugins/html5.js"></script>
    
    <![endif]-->
    
        <link rel="stylesheet" type="text/css" href="/styles/pc/eyespecial.css?v=20171117">
    
    <script type="text/javascript" src="/scripts/lib/jquery.1.8.3.js"></script>
    </head>
<body style="background-color:#1b1f28;" uid="0" userkey="0" data-nowtime="1534158783" data-mobile="" data-iframe="0">
<header class="site-nav">
	<div class="qt-w clearfix">
		<div class="hd qt-gl">
            <a href="//www.p2peye.com/" title="返回网贷天眼"><i class="iconindex"></i>返回网贷天眼</a>
            <span class="site-nav-pipe">|</span>
            
                                	<div title="客服热线">客服热线：400-6673-500（9:00—21:00）</div>
            <span class="site-nav-pipe">|</span>
                        <a title="手机客户端" id="newsnav" role-mouseover="shownavMenu"><i class="iconphone"></i>手机客户端</a>
            <span class="site-nav-pipe">|</span>
            <a title="微信公众号" role-mouseover="shownavMenu" id="licainav">微信公众号</a>
		</div>

		<div class="qt-gr bd clearfix">
            <div class="qt-gr inner">
                                <a href="//www.p2peye.com/member.php?mod=login_ty" rel="nofollow" role="dialog" role-api="loginp2peye" title="登录">登录</a>
                <span>|</span>
                <a href="//www.p2peye.com/member.php?mod=register" onclick="this.href=this.href+'&refer='+window.location.href;return true;" rel="nofollow" title="注册">注册</a>
                                <span>|</span>
            	<a href="//www.p2peye.com/contact.html" rel="nofollow" target="_blank" title="联系我们">联系我们</a>
            	

                            </div>
        </div>
	</div>
</header>
<div  id="newsnav_menu" class="nav_site_pop" style="display: none;">
    <ul class="nav_pop_list">
        <li class="item">
            <img src="/styles/images/index/newindex/app.png" class="nav_pop_list-img"/>
        </li>
    </ul>
</div>
<div id="licainav_menu" class="nav_site_pop" style="display: none;">
    <ul class="nav_pop_list">
        <li class="item">
            <img src="/styles/images/index/newindex/weixin.jpg" class="nav_pop_list-img"/>
        </li>
    </ul>
</div>


<div class="mod-banner qt-mb20">
	<img src="//www.p2peye.com/static/eyespecial/2016-03-09/61c173332d64466ad84e795bf5beda2e.png?v=1457497129" width="1920px">
</div>
<div class="contain"> 
 
    <div class="mod-lead qt-white qt-mb20 clearfix">
    <div class="col-main qt-gl">
        <div class="inner">
        	<h1>危机四伏的线下理财</h1>
        	<div class="p"><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 微软雅黑;letter-spacing: 0;font-size: 16px">伴随着普惠金融理财的普及，P2P网贷已经成为整个互联网金融行业的热点，日渐成熟的体系，快速扩张的规模让所有人为之震惊；与此同时脱胎于民间借贷行业的线下理财也在澎湃发展，它们或主动介入线上P2P，布局网贷P2P平台，或直接发力线下渠道，借力线下P2P概念极力扩张版图，一时间，超市门口、商场两侧、居民小区等地方频现理财产品宣传单，各种理财顾问经理竭力结交大爷大妈。</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 微软雅黑;letter-spacing: 0;font-size: 16px"><br/></span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 微软雅黑;letter-spacing: 0;font-size: 16px">然而火爆并不代表安全，E租宝事件将整个线下理财推到了行业的风口，此后财富基石、大大集团、盛世财富、鑫琦资产等多家线下理财公司陷入资金链断裂，理财产品无法兑付的局面，线下理财的风险暴露无遗。随后新出台的P2P监管细则暂行办法（征求意见稿）明确禁止发展线下理财实体店，一时间线下理财成为众矢之的。</span></p><p><span id="_baidu_bookmark_end_10" style="display: none; line-height: 0px;">‍</span><br/></p>
        	</div>
        		</div>
    </div>
    <div class="col-sub qt-gl">
    	<div class="icon-leadpic-red icon"></div>
    </div>
</div>

                                                <div class="mod-historyevent qt-mb20 qt-white">
	<div class="icon-tag icon icon-tit-red">相关新闻</div>
	<div class="wrap">
		<div class="lines"></div>
		<div class="startpoint"></div>
		<div class="endpoint"></div>
		<ul class="list">
												<li class="item l first">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-477100-1.html" target="_blank">上海线下理财长来财富资金链断裂 近4亿兑付困难</a>
									</p>
									<h3>2016-02-25</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/ecd68ec0da7aaa8da77f8ac8e7ecebad.png?v=1457426369" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-476919-1.html" target="_blank">张铁林代言的鑫琦资产无法兑付 遭投资人围堵</a>
									</p>
									<h3>2016-02-17</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/c282df884db450ebd3776b696a9c07ce.jpg?v=1457426661" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item l">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-476199-1.html" target="_blank">湖北盛世财富停业 公安机关已对其立案调查</a>
									</p>
									<h3>2016-01-13</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/a6847bedb004ace15d9df08dc92743a5.png?v=1457428003" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-475754-1.html" target="_blank">融业网理财产品到期难提现 却仍在发售</a>
									</p>
									<h3>2015-12-29</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/7865342a12c532f9c74208b7725cc211.png?v=1457428245" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item l">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-475094-1.html" target="_blank">上海朋尔资产无法兑付 涉及金额过亿</a>
									</p>
									<h3>2015-12-18</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/e687a65fb5cbc5a7802baefe454c5d95.png?v=1457429291" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-475318-1.html" target="_blank">大大集团被调查:注册实缴资金至今为零 涉嫌非法集资</a>
									</p>
									<h3>2015-12-16</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/e68cc836063df8bb60222d2d568ee549.png?v=1457429043" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item l">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-474691-1.html" target="_blank">华中最大线下财富公司财富基石多款产品可能无法兑付</a>
									</p>
									<h3>2015-11-25</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/a5ad4db826ff3f38abc4aab18f4a9bb0.jpg?v=1457429437" width="120px" height="120px"></div>
						</div>
					</li>
																<li class="item">
						<div class="col-parent">
							<div class="tags"></div>
							<div class="col-main">
								<div class="col-wrap">
									<p>
										<a href="http://news.p2peye.com/article-473560-1.html" target="_blank">平安金赛银事件新进展：违规代售金赛银1亿元</a>
									</p>
									<h3>2015-10-22</h3>
								</div>
							</div>
							<div class="col-sub"><img src="//www.p2peye.com/static/eyespecial/2016-03-08/a43730c563330dfff325e575d0bc67bd.jpg?v=1457430240" width="120px" height="120px"></div>
						</div>
					</li>
								        	</ul>
	</div>
</div>
                                                            <div class="mod-singlepic qt-white qt-mb20">
    	<div class="icon-tag icon icon-tit-red">投资方向</div>
    	<a href="javascript:;" target="_blank">
    		<img src="//www.p2peye.com/static/eyespecial/2016-03-09/99b554bb2c763b089c8cf1ff8c467f89.png?v=1457512419" alt="">
    	</a>
    </div>
                                                                                        	<div id="id25" class="mod-manypic qt-white qt-mb20">
		<div class="icon-tag icon icon-tit-red">运营模式</div>
		<div class="slider-parent">
			<ul class="slider">
								<li data="0" style="display:block"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/376c2afd8141553a53aaef7f51f25604.png?v=1457522122" width="960px" /></li>
								<li data="1" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4bbbeafdd5065f7ddc6550bc7acdfe60.png?v=1457522134" width="960px" /></li>
								<li data="2" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4db381cfb0f2148696d4519e10e01d7b.png?v=1457522143" width="960px" /></li>
								<li data="3" ><img src="//www.p2peye.com/static/eyespecial/2016-03-10/8097dcf42506cd82cc857c7da9c68d83.png?v=1457577551" width="960px" /></li>
				
			</ul>
			<div class="prve page-pic-prve"><a href="javascript:;"></a></div>
			<div class="next page-pic-next"><a href="javascript:;"></a></div>
						<div class="p active"><span><em>1</em><i>4</i></span><p></p></div>
						<div class="p "><span><em>2</em><i>4</i></span><p></p></div>
						<div class="p "><span><em>3</em><i>4</i></span><p></p></div>
						<div class="p "><span><em>4</em><i>4</i></span><p></p></div>
						<div class="p null active"></div>
			<div class="page-pic clearfix">
				<div class="page-pic-inner clearfix">
					<div class="page-ul clearfix">
												<a class="bx-pager-item" data-slide-index="0"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/376c2afd8141553a53aaef7f51f25604.png?v=1457522122" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="1"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4bbbeafdd5065f7ddc6550bc7acdfe60.png?v=1457522134" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="2"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4db381cfb0f2148696d4519e10e01d7b.png?v=1457522143" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="3"><img src="//www.p2peye.com/static/eyespecial/2016-03-10/8097dcf42506cd82cc857c7da9c68d83.png?v=1457577551" width="164" height="80"/></a>
											</div>
				</div>
				<div class="page-pic-prve"></div>
				<div class="page-pic-next"></div>
			</div>
		</div>
	</div>
	<script src="/scripts/plugins/jquery.bxslider.min.js" type="text/javascript"></script>
                                                                                	<div id="id27" class="mod-manypic qt-white qt-mb20">
		<div class="icon-tag icon icon-tit-red">五宗罪</div>
		<div class="slider-parent">
			<ul class="slider">
								<li data="0" style="display:block"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/669108845adb747289eeb4c4e2fea814.png?v=1457522043" width="960px" /></li>
								<li data="1" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/04301bbccbc2166aaf48a2db574c6575.png?v=1457522051" width="960px" /></li>
								<li data="2" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/01e99f8f4ae8d62efef60266c1c11aa7.png?v=1457522062" width="960px" /></li>
								<li data="3" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/078ff231d4fca84d8d43047a35f14e3b.png?v=1457522073" width="960px" /></li>
								<li data="4" ><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4de5c3253f1bcfe6a116c5ffb9b4064d.png?v=1457522086" width="960px" /></li>
				
			</ul>
			<div class="prve page-pic-prve"><a href="javascript:;"></a></div>
			<div class="next page-pic-next"><a href="javascript:;"></a></div>
						<div class="p active"><span><em>1</em><i>5</i></span><p></p></div>
						<div class="p "><span><em>2</em><i>5</i></span><p></p></div>
						<div class="p "><span><em>3</em><i>5</i></span><p></p></div>
						<div class="p "><span><em>4</em><i>5</i></span><p></p></div>
						<div class="p "><span><em>5</em><i>5</i></span><p></p></div>
						<div class="p null active"></div>
			<div class="page-pic clearfix">
				<div class="page-pic-inner clearfix">
					<div class="page-ul clearfix">
												<a class="bx-pager-item" data-slide-index="0"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/669108845adb747289eeb4c4e2fea814.png?v=1457522043" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="1"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/04301bbccbc2166aaf48a2db574c6575.png?v=1457522051" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="2"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/01e99f8f4ae8d62efef60266c1c11aa7.png?v=1457522062" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="3"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/078ff231d4fca84d8d43047a35f14e3b.png?v=1457522073" width="164" height="80"/></a>
												<a class="bx-pager-item" data-slide-index="4"><img src="//www.p2peye.com/static/eyespecial/2016-03-09/4de5c3253f1bcfe6a116c5ffb9b4064d.png?v=1457522086" width="164" height="80"/></a>
											</div>
				</div>
				<div class="page-pic-prve"></div>
				<div class="page-pic-next"></div>
			</div>
		</div>
	</div>
	<script src="/scripts/plugins/jquery.bxslider.min.js" type="text/javascript"></script>
                                                        <div class="mod-talk  qt-mb20 qt-white" data-zid="2">
    <div class="icon-tag icon icon-tit-red">专题评论</div>
    <div class="box">
        <div class="fd mod-comment">
            <div class="mc-bd">
                <div class="hd"><strong>1</strong>人跟帖 | <strong>1</strong>人参与讨论</div>
                <div class="bd qt-mt20 clearfix">
                    <div class="clearfix">
                        <div class="img qt-gl">
                                                            <a rel="nofollow"  href="//www.p2peye.com/jslogin.php" role="dialog"  role-api="loginp2peye" onclick="return false" title="">
                                    <img height="115" width="115" src="/styles/images/special/unlogin.png" />
                                </a>
                                                    </div>
                        <div class="textbox qt-gr reply-box" max="2000">
                            <form action="/User/seteyespecialcomment" method="post" role="ajaxfrom" valid-after="true">
                                <input type="hidden" name="zid" value="2" />
                                <input type="hidden" name="reply_id" value="0" />
                                <input type="hidden" name="root_id" value="0" />
                                <textarea name="content" placeholder="文明上网，登录发表观点" data-valid="notempty|len:10:2000" class="textarea reply-textarea"></textarea>
                                <div class="qt-mt10 clearfix">
                                    <div class="reglogin qt-gl">
                                                                            <a href="//www.p2peye.com/member.php?mod=register" onclick="this.href=this.href+'&refer='+window.location.href;return true;" onclick="return false" role-click="registerp2peye" rel="nofollow"   title="注册">注册</a> | <a rel="nofollow" href="//www.p2peye.com/jslogin.php"  role="dialog" role-api="loginp2peye" onclick="return false" title="登录">登录</a>
                                                                        </div>
                                    <div class="qt-gr reply-tool">
                                        <span class="notice">还可输入 <span class="shownum">2000</span>字</span>
                                                                                <a rel="nofollow" href="//www.p2peye.com/jslogin.php"  role="dialog"  role-api="loginp2peye" onclick="return false" title="发表评论" class="submit red"/>发表评论</a>
                                                                            </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="p qt-mt20">大家都在说</p>
                    <ul class="comment-inner">
                                                <li class="feed-detail clearfix">
    <div class="detail">
        <div class="detail-wrap">
            <div class="floor">
                <div class="info clearfix">
                    <a class="qt-gl username" href="//licai.p2peye.com/u1268514/" target="_blank">不到</a>
                    <div class="qt-gr time">2018-03-09 19:13:36</div>
                </div>
                <div class="comment">
					火爆并不代表安全，大家要谨慎
                </div>
                <div class="clearfix">
                    <div class="qt-gr tool">
                    	<a class="reply" role="comment-reply" role-data="root_id:621|reply_id:621|uname:不到|uid:1268514|zid:2|style:1" role-url="/User/seteyespecialcomment?t=reply" href="javascript:;">
                            <em></em>
                            <i>0</i>
                        </a>
                        <a rel="nofollow" class="heart praise" role="praise" role-data="id:621|zid:2" data-url="/User/seteyespecialpraise" href="javascript:;">
                            <em></em>
                            <i>0</i>
                        </a>
                    </div>
                </div>
            </div>
                    </div>
    </div>
    <div class="face"><a href="//licai.p2peye.com/u1268514/" target="_blank"><img class="actor" uid="1268514" width="61" height="61" src="//www.p2peye.com/uc_server/avatar.php?uid=1268514&size=middle" /></a></div>
</li>                                            </ul>
                </div>
                            </div>
        </div>
    </div>
</div>
</div>

<div class="pop">
    <div class="mask"></div>
    <div class="flash">
        <div class="border"></div>
        <a href="javascript:;" class="btn-close"></a>
    </div>
    
</div>
<footer class="footer">
	<div class="qt-w">
				<div class="ft">
			<p class="sevice">网贷天眼温馨提示：网贷天眼仅提供平台服务，所有产品及展示信息均由发行方提供。理财属于投资行为，不等同于银行存款。投资有风险，购买需谨慎。</p>
			<p class="sevice">Copyright &copy; 2013 p2peye.com 北京银讯财富信息技术有限公司 版权所有 不允许任何形式的转载以及拷贝，违者必究。</p>
			<p class="sevice"><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">京ICP备13053798号-1</a> <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank" rel="nofollow">京ICP证150049号</a> 京公网安备 11010502033185 号</p>
			<p class="qt-mt15">
				<a href="http://net.china.com.cn/index.htm" target="_blank" rel="nofollow" title="中国互联网举报中心"><img src="/styles/images/common/jbzx.png" width="100" alt="中国互联网举报中心"></a>
				
				<a href="javascript:void(0);" rel="nofollow" style="cursor:text" title="中国互联网金融协会"><img src="/styles/images/common/footer_hlwjrxh.png" alt="中国互联网金融协会" width="100px"></a>
				<a href="http://www.jiasule.com/analytics/login/?site=www.p2peye.com" target="_blank" rel="nofollow" title="知道创宇云安全|抗DDoS攻击_抗CC_CDN加速_高防DNS_云主机_加速乐"><img src="/styles/images/common/jiasule.png" alt="知道创宇云安全|抗DDoS攻击_抗CC_CDN加速_高防DNS_云主机_加速乐" width="100px"></a>
				<a href="javascript:void(0);" rel="nofollow" style="cursor:text" title="上海金融信息行业协会"><img src="/styles/images/common/shanghaijinrongxinxi.png" alt="上海金融信息行业协会" width="100px"></a>
				<a href="javascript:void(0);" rel="nofollow" style="cursor:text" title="北京市网贷行业协会"><img src="/styles/images/common/beijingwangdaihangye.png" alt="北京市网贷行业协会" width="100px"></a>
				<!--<a key="55fbd31eefbfb024124816d6" logo_style="fixed" logo_size="0x0" logo_type="business" style="display: none;" href="//www.anquan.org/authenticate/cert/?site=www.p2peye.com&amp;at=" rel="nofollow" target="_blank" title="安全联盟品牌验证档案库－网贷天眼"><script src="//static.anquan.org/static/outer/js/aq_auth.js" type="text/javascript"></script><span style="display:none;" class="LOGO_aq_jsonp_wrap_" id="AQ_logo_span_init_1"><script src="//outer.anquan.org/query_auth_status/?callback=AQ_fn_aq_auth_callback&amp;url=//www.p2peye.com/&amp;logo_type=realname&amp;logo_type=personal&amp;logo_type=business&amp;logo_type=official&amp;logo_type=enterprise" type="text/javascript" async="true"></script></span></a>-->
			</p>
		</div>
	</div>
</footer>



	
	

<script type="text/javascript" src="//www.p2peye.com/static/js/advert/advert.js?v=20171117"></script>
<script type="text/javascript" src="//www.p2peye.com/static/js/advert/xtyyh.js?v=20171117"></script><!--common include Dom start-->
<ul class="mod-floatlayer">
    
    

                <li class="redland">
        <a class="a" href="//licai.p2peye.com/club" target="_blank" title="签到领奖" track-event="150000015" role-clickbdpa="bdpatitles" data-bdpa="理财全站侧边-签到图标">
            <img class="hongbao _logo1" src="/styles/images/common/hongbao_1x.png">
            <img class="qiandao" src="/styles/images/common/qiandao_1x.png">
            <img class="hongbao _logo2" src="/styles/images/common/hongbao_2x.png">
            <img class="qiandao" src="/styles/images/common/qiandao_2x.png">
        </a>
    </li>	<li class="service" id="udesk-im-40"><a class="a" href="javascript:;" title="在线客服">在线客服</a></li>
            
        <li class="account"><a class="a" href="/member/assetsp2p" target="_blank" title="理财记账">理财记账</a></li>
        <li class="scancode"><a class="a" href="javascript:;" onclick="return false;" title="下载APP">下载APP</a><img src="/styles/images/common/scancode.png" alt="下载APP"/></li>
        <li class="contrast">
        <div class="contrastbtnbox"><a class="bds_more a" href="//licai.p2peye.com/contrast.html" target="_blank" data-platId="" data-cmd="more" title="对比" id="c_btn">对比</a></div>
    </li>
    <li class="baidushare">
        <div class="bdsharebuttonbox"><a class="bds_more a" href="javascript:;" data-cmd="more" title="分享页面">分享页面</a></div>
    </li>
    <li class="home"><a class="a" href="javascript:;" onclick="return false;" title="返回顶部">返回顶部</a></li>
    </ul>

<!--common include Dom end-->
<!--app include start-->
<!--Template for Bind Tyq start-->
<script type="text/template" id="bindPostphoneTpl">
<form action="/spacecp/setTyMobile" method="post" role="ajaxfrom">
    <input type="hidden" name="optype" value="1"/>
    <ul class="spacpce-form-list">
        <li class="spacpce-form-item clearfix">
            <div class="spacpce-form-left">手机号</div>
            <div class="spacpce-form-center">
                <div class="spacpce-form-input-box clearfix">
                    <input type="text" data-valid="notempty|mobile" name="mobile" class="spacpce-form-input" placeholder="请输入11位手机号" maxlength="11" id="setTyMobileMoblie">
                </div>
                <div class="spacpce-form-error">
                    <span><i></i>错误提示</span>
                </div>
            </div>
        </li>
        <li class="spacpce-form-item clearfix">
            <div class="spacpce-form-left">短信验证码</div>
            <div class="spacpce-form-center spacpce-form-center-m">
                <div class="spacpce-form-input-box clearfix">
                    <input type="text" data-valid="notempty" name="mobile_code" class="spacpce-form-input spacpce-form-input-m" placeholder="请输入验证码">
                    <div class="spacpce-form-input-btn" id="setTyMobileCode">获取验证码</div>
                </div>
                <div class="spacpce-form-error">
                    <span><i></i>错误提示</span>
                </div>
            </div>
        </li>
        <li class="spacpce-form-item clearfix">
            <input type="submit" class="spacpce-form-submit" value="确定" id="setTyMobileSubmit">
        </li>
    </ul>
</form>
</script>

<script type="text/template" id="bindingTpl">
<div class="mod-bindtyq">
    <form action="/user/userBinding" method="post" valid-after="true" class="form addinvest_form" role="ajaxfrom">
        <input type="hidden" name="type" value="binding" />
        <div class="clearfix align-l">
            <dl class="clearfix qt-gl">
                <dt><h3>完善信息，完成绑定</h3></dt>
            </dl>
        </div>
        <div class="clearfix align-l">
            <dl class="clearfix qt-gl">
                <dt class="inputTitle">手机号码：</dt>
                <dd><b><%=mobile%></b></dd>
            </dl>
            <dl class="clearfix qt-gl">
                <dt class="inputTitle">登录密码：</dt>
                <dd><input class="input" required="required" type="password" style="width:197px;" placeholder="6~18位登录密码" name="password" data-valid='notempty' />
                    <span class="tiper">*密码不能为空</span>
                </dd>
            </dl>
        </div>
        <div class="clearfix align-center qt-mt35"><input type="submit" class="submit invest-btn"  value="确定绑定"></div>
    </form>
</div>
</script>
<script type="text/template" id="registerTpl">
<div class="mod-bindtyq">
    <form action="/user/userBinding" method="post" valid-after="true" class="form addinvest_form" role="ajaxfrom">
        <input type="hidden" name="type" value="register" />
        <div class="clearfix align-l">
            <dl class="clearfix qt-gl">
                <dt><h3>完善信息，完成绑定</h3></dt>
            </dl>
        </div>
        <div class="clearfix align-l">
            <dl class="clearfix qt-gl">
                <dt>手机号码：</dt>
                <dd style="margin-left:1px\0;"><b><%=mobile%></b></dd>
            </dl>
            <dl class="clearfix qt-gl">
                <dt style="width:70px;text-align:right;">验证码：</dt>
                <dd><input class="input" type="text" style="width:86px;" required="required" placeholder="6位数字" name="mobile_code" data-valid='notempty|number|len:6' />
                    <input class="vcode" type="button" value="获取验证码"/>
                    <span class="tiper">*验证码错误</span>
                </dd>
            </dl>
        </div>
        <div class="clearfix align-l">
            <dl class="clearfix qt-gl">
                <dt>登录密码：</dt>
                <dd><input class="input" type="password" style="width:247px;" required="required" placeholder="6~18位登录密码" name="password" data-valid='notempty' />
                    <span class="tiper">*密码不能为空</span>
                </dd>
            </dl>
        </div>
        <div class="clearfix align-center qt-mt35"><input type="submit" class="submit invest-btn"  value="确定绑定"></div>
    </form>
</div>
</script>
<script type="text/template" id="registerendTpl">
<div class="mod-bindtyq">
        <div class="clearfix align-center">
        <img src="/styles/images/common/success.png" />
        </div>
        <div class="clearfix align-center qt-pt20">
            <dl class="clearfix">
                <dt><h3>绑定成功</h3></dt>
            </dl>
        </div>
        <div class="clearfix align-center qt-mt20"><span class="submit invest-btn close">确定</span></div>
</div>
</script>
<script type="text/template" id="verifiedTpl">
<div class="mod-bindtyq">
    <form action="/user/userBinding" method="post" valid-after="true" class="form addinvest_form" role="ajaxfrom">
        <input type="hidden" name="type" value="verified" />
        <div class="clearfix align-l">
            <dl class="clearfix">
                <dt>投友圈账号：</dt>
                <dd><b><%=mobile%></b></dd>
            </dl>
            <dl class="clearfix">
                <dt style="width:84px;text-align:right;">姓名：</dt>
                <dd><input class="input" type="text" style="width:197px;" required="required" placeholder="请输入您的真实姓名" name="realname" data-valid='notempty' />
                    <span class="tiper">*姓名不能为空</span>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>身份证号码：</dt>
                <dd><input class="input" type="text" style="width:197px;" name="sid"  required="required" placeholder="请输入15~18位身份证号码" data-valid='notempty|ID_card' />
                    <span class="tiper">*身份证号格式不正确</span>
                </dd>
            </dl>
        </div>
        <div class="clearfix align-l qt-mt35">
            <dl class="clearfix qt-gl">
                <dt style="width:84px;">&nbsp;&nbsp;</dt>
                <dd>
                    <input type="submit" class="submit invest-btn"  value="实名绑定"><a href="javascript:;" role="closedialog" style="margin-left:20px;" onclick="window.location.reload();">暂不实名</a>
                </dd>
            </dl>
        </div>
    </form>
</div>
</script>

<script type="text/template" id="bindingendTpl">
<div class="mod-bindtyq">
    <div class="clearfix align-c">
        <img src="/styles/images/common/success.png" />
    </div>
    <div class="clearfix align-c qt-mt15">
        <dl class="clearfix">
            <dt><h3>您已成功绑定投友圈账户！</h3></dt>
        </dl>
    </div>
    <div class="clearfix align-c qt-mt25"><span class="submit invest-btn close">确定</span></div>
</div>
</script>

<script type="text/template" id="verifiedendTpl">
<div class="mod-bindtyq">
    <div class="clearfix align-c">
        <img src="/styles/images/common/success.png" />
    </div>
    <div class="clearfix align-c qt-mt15">
        <dl class="clearfix">
            <dt><h3>您已成功完成实名身份认证！</h3></dt>
        </dl>
    </div>
    <div class="clearfix align-center qt-mt25"><span class="submit invest-btn close">确定</span></div>
</div>
</script>

<script type="text/template" id="registerendTpl">
<div class="mod-bindtyq">
    <div class="clearfix align-c">
        <img src="/styles/images/common/success.png" />
    </div>
    <div class="clearfix align-c qt-mt15">
        <dl class="clearfix">
            <dt><h3>您已成功创建一个新的投友圈账户，并完成绑定！</h3></dt>
        </dl>
    </div>
    <div class="clearfix align-c qt-mt25"><span class="submit invest-btn close">确定</span></div>
</div>
</script>
<script type="text/template" id="alertTpl">
    <span class="ui-alert shack"><span></span><%=text%></span>
</script>
<script type="text/template" id="messageTpl">
    <span style="padding-left:25px;" class="ui-alert shack"> <%=text%></span>
</script>
<script type="text/template" id="confirmTpl">
    <span class="ui-confirm">
        <span class="text"><span class="tag"></span><%=text%></span>
        <span class="tool clearfix">
            <span class="tooler confirm"><span class="tooler-wrap"><% if(confirmText){ %><%=confirmText%><% }else{ %>确定<% } %></span></span>
            <span class="tooler cancel"><span class="tooler-wrap"><% if(cancelText){ %><%=cancelText%><% }else{ %>取消<% } %></span></span>
        </span>
    </span>
</script>
<script type="text/template" id="circleTpl">
<div class="ui-circle">
    <div class="circle-wrap">
        <div class="b-r item"></div>
        <div class="b-b item"></div>
        <div class="b-y item"></div>
    </div>
</div>
</script>
<!--Template for Bind Tyq end-->
<script type="text/template" id="licaikillTpl">
<div class="mod-activitybtn"></div>
<div class="mod-activity">
    <a href="//licai.p2peye.com/topic/eyeozb/" title="EYE上欧洲杯_登陆即可竞猜,最高加息12%" target="_blank">
        <div class="mod-main">
            <img src="/styles/images/topic/eyeozb/mobile/gg_inner.png" />
            <div class="activity-exit" onclick="return false;"></div>
        </div>
    </a>
</div>
</script>
<!--app include start-->


    <script type="text/javascript" src="/scripts/pc/eyespecial.min.js?v=20171117" init="pc/eyespecial"></script>

</div>
<script>
    function dnsHandler(){
        setTimeout(function(){
            var dns = jQuery('._ih');
            if(dns.length > 0){
                dns.remove();
            }
            dnsHandler();
        },800)
    }

    dnsHandler();

    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?556481319fcc744485a7d4122cb86ca7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

</script>
<script type="text/template" id="loanssureTpl">
    <ul class="mod-certification">
        <li class="hd">
            <div class="mod-certification-text">根据国家法规相关要求</div>
            <div class="mod-certification-text">请前往个人中心绑定手机号码</div>
        </li>
        <li class="fd clearfix">
            <div class="certification-btn">
                <a class="submit" title="提交" href="/spacecp/index/" target="_blank">去绑定手机</a>
            </div>
        </li>
    </ul>
    <div class="certification-close"></div>
</script>
</body>
</html>
